body {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pull-down-inner {
	width: 100%;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
	background-color: #607d8b;
}

.pull-down-inner h1 {
	color: #fafafa;
	font-size: 18px;
	display: block;
}

.menu-icon {
	color: #fafafa;
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	right: 15px;
	cursor: pointer;
}

.menu-icon.current {
	opacity: 0.3;
}

.pull-down-list li a {
	display: block;
	width: 100%;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
	text-decoration: none;
	color: #212121;
}

.pull-down-list li a:after {
	font-family: 'FontAwesome';
	content: "\f054";
	color: #212121;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -0.5em;
}

.pull-down-list li:nth-child(odd) {
	background: #eceff1;
}
.pull-down-list li:nth-child(even) {
	background: #cfd8dc;
}

.theme-headline {
	font-size: 32px;
	line-height: 1.5;
	margin: 15px;
}