@charset 'utf-8';

body {
  font-family: "Roboto", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 1.5;
  margin: 15px;
}

#wrapper {
  padding: 10px;
}

.select-menu {
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  padding: 5px 24px 5px 10px;
  background-image: url(../icon_arrow_01.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 12px auto;
}
